# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. html
2. php
3. js

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Dask

|Data Science Tools|
|--------------------|
|pyspark|
|hadoop|
|prophet|

### Below are a few examples of evaluating arithmetic expressions in Python
5+3

In [16]:
(3*4)+5

17

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* Name some of the commonly used libraries used by Data Scientists
* Outline at least three Data Science Tools

## Author
Dr. Khateeb Ahmed Khan